{{> header}}

  <nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
      <a href="index.html">Inicio</a> / {{ category }} / <span class="breadcrumb_last" aria-current="page">Post
        ok</span>
    </div>
  </nav>

  <section class="w3l-blog-block2 mt-md-5">
    <div class="container mb-lg-4">
      <div class="row">
          {{#each devops }}
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
              <div class="card-header p-0 position-relative">
                <a href="{{ path }}/index.html">
                            <img class="card-img-bottom d-block radius-image" src="assets/images/p2.jpg" alt="Card image cap">
                </a>
                </div>
                <div class="card-body p-0 blog-details">
                  <a href="{{ path }}/index.html" class="blog-desc">{{ title }}
                  </a>
                        <p>{{ blurb }}</p>
                        <div class="author align-items-center mt-3 mb-1">
                            <a href="author.html">{{ author }}</a> en <a href="#url">{{ category }}</a>
                        </div>
                        <ul class="blog-meta">
                            <li class="meta-item blog-lesson">
                                <span class="meta-value"> {{ post-date }} </span>
                            </li>
                            <li class="meta-item blog-students">
                                <span class="meta-value"> lectura: {{ reading-time }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
{{/each}}

      </div>
      <!-- pagination -->
      <div class="pagination-wrapper mt-5">
        <ul class="page-pagination">
          <li><span aria-current="page" class="page-numbers current">1</span></li>
          <li><a class="page-numbers" href="#url">2</a></li>
          <li><a class="page-numbers" href="#url">3</a></li>
          <li><a class="page-numbers" href="#url">4</a></li>
          <li><a class="page-numbers" href="#url">....</a></li>
          <li><a class="page-numbers" href="#url">15</a></li>
          <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
        </ul>
      </div>
      <!-- //pagination -->
    </div>
  </section>

{{> footer}}